Repository androidPluto/pluto, changes with the labels that .github/labeler.yml gives for each.
All labels: core, script, sample, datastore, exceptions, layout-inspector, logger, network, rooms-database, shared-preferences

ui fixes
  pluto/lib/src/main/java/com/pluto/core/network/Network.kt
  pluto/lib/src/main/java/com/pluto/maven/MavenSession.kt
  pluto/lib/src/main/java/com/pluto/maven/MavenViewModel.kt
  pluto/lib/src/main/java/com/pluto/ui/selector/SelectorActivity.kt
  pluto/lib/src/main/res/layout/pluto___activity_plugin_selector.xml
  pluto/lib/src/main/res/values/strings.xml
Labels: core

Update build.gradle
  pluto-plugins/plugins/network/okhttp-network/lib/build.gradle
Labels: network

refactor
  pluto-plugins/plugins/network/_base/build.gradle
Labels: network

removed need to add base module as dependency
  pluto-plugins/bundle/lib/build.gradle
  pluto-plugins/plugins/network/ktor-network/lib/build.gradle
  pluto-plugins/plugins/network/okhttp-network/lib/build.gradle
Labels: core, network

code restructure
  pluto-plugins/plugins/network/_base/src/main/java/com/pluto/plugins/network/internal/NetworkFragment.kt
  pluto-plugins/plugins/network/_base/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/DataModel.kt
  pluto-plugins/plugins/network/_base/src/main/java/com/pluto/plugins/network/internal/share/ShareFragment.kt
  pluto-plugins/plugins/network/_base/src/main/java/com/pluto/plugins/network/internal/share/ShareHelper.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/PlutoKtorInterceptor.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/KtorRequestConverter.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/KtorResponseConverter.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/RequestConverter.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/ResponseConverter.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/PlutoInterceptor.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/ContentProcessorOkHttp.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/DataConvertor.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/DepletingSource.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/FileFactory.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/OkHttpKtx.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/ReportingSink.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/ResponseBodyProcessor.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/TeeSource.kt
  sample/src/main/java/com/sampleapp/functions/network/internal/core/KtorNetwork.kt
Labels: sample, network

refactor
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/core/CacheDirectoryProvider.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/ui/ContentFragment.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/ui/DetailsFragment.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/ui/components/CustomTraceInfoFragment.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/PlutoKtorInterceptor.kt
Labels: network

move CacheDirectoryProvider to okhttp module
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/PlutoNetwork.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/PlutoInterceptor.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/CacheDirectoryProvider.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/ResponseBodyProcessor.kt
Labels: network

PlutoInterceptor refactored
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/NetworkRecorder.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/PlutoInterceptor.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/ResponseBodyProcessor.kt
Labels: network

refactor
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/PlutoInterceptor.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/ResponseBodyProcessor.kt
Labels: network

PlutoKtorInterceptor refactored
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/PlutoKtorInterceptor.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/RequestConverter.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/ResponseConverter.kt
Labels: network

access modifier fixed
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/ContentProcessor.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/DataModel.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/NetworkCallsRepo.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/ThrowableKtx.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/core/Utils.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/mock/logic/MockSettingsRepo.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/mock/logic/dao/MockSettingsEntity.kt
Labels: network

gradle fixes
  pluto-plugins/plugins/network/_commons/build.gradle
  pluto-plugins/plugins/network/ktor-network/lib/build.gradle
  pluto-plugins/plugins/network/okhttp-network/lib/build.gradle
Labels: network

access modifier fixed
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/DataModel.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/DataModel.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/core/ResponseCodeMessageMapper.kt
  pluto-plugins/plugins/network/_commons/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/core/Utils.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/KtorResponseConverter.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/DataConvertor.kt
Labels: network

Added bandwidth limiter and dns timeout
  pluto-plugins/base/lib/src/main/java/com/pluto/utilities/settings/SettingsPreferences.kt
  pluto-plugins/plugins/network/lib/build.gradle
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/PlutoNetwork.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/core/BandwidthDefaults.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/core/BandwidthLimitSocketFactory.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/core/DnsDelay.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/core/ThrottledInputStream.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/core/ThrottledOutputStream.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/ui/BandwidthFragment.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/ui/BandwidthViewModel.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/ui/BindingAdapter.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/ui/InfinityTextWatcher.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/interceptor/ui/ListFragment.kt
  pluto-plugins/plugins/network/lib/src/main/res/drawable/pluto_network___ic_bandwidth.xml
  pluto-plugins/plugins/network/lib/src/main/res/layout/pluto_network___fragment_bandwidth.xml
  pluto-plugins/plugins/network/lib/src/main/res/layout/pluto_network___fragment_list.xml
  pluto-plugins/plugins/network/lib/src/main/res/navigation/pluto_network___navigation.xml
  pluto-plugins/plugins/network/lib/src/main/res/values/strings.xml
  pluto-plugins/plugins/network/lib/src/test/java/com/pluto/plugins/network/internal/bandwidth/core/BandwidthLimitSocketFactoryTest.kt
  sample/build.gradle
  sample/src/main/java/com/sampleapp/functions/network/internal/core/Network.kt
Labels: core, sample, network

added comments for clarification of ThrottledInputStream, ThrottledOutputStream and DnsDelay
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/PlutoNetwork.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/core/ThrottledInputStream.kt
  pluto-plugins/plugins/network/lib/src/main/java/com/pluto/plugins/network/internal/bandwidth/core/ThrottledOutputStream.kt
Labels: network

mock setting in ktor interceptor
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/PlutoKtorInterceptor.kt
Labels: network

publish config fixes
  pluto-plugins/plugins/network/core/build.gradle
  pluto-plugins/plugins/network/ktor-network/lib-no-op/build.gradle
  pluto-plugins/plugins/network/ktor-network/lib-no-op/src/main/java/com/pluto/plugins/network/PlutoKtorInterceptor.kt
  pluto-plugins/plugins/network/ktor-network/lib-no-op/src/main/java/com/pluto/plugins/network/ktor/PlutoKtorPlugin.kt
  pluto-plugins/plugins/network/okhttp-network/lib-no-op/build.gradle
  pluto-plugins/plugins/network/okhttp-network/lib-no-op/src/main/java/com/pluto/plugins/network/DataModel.kt
  pluto-plugins/plugins/network/okhttp-network/lib-no-op/src/main/java/com/pluto/plugins/network/PlutoInterceptor.kt
  pluto-plugins/plugins/network/okhttp-network/lib-no-op/src/main/java/com/pluto/plugins/network/PlutoNetwork.kt
  pluto-plugins/plugins/network/okhttp-network/lib-no-op/src/main/java/com/pluto/plugins/network/PlutoNetworkPlugin.kt
  pluto-plugins/plugins/network/okhttp-network/lib/build.gradle
Labels: network

removed old custom interceptor logic
  pluto-plugins/plugins/network/core/src/main/java/com/pluto/plugins/network/DataModel.kt
  pluto-plugins/plugins/network/core/src/main/java/com/pluto/plugins/network/PlutoNetwork.kt
  pluto-plugins/plugins/network/core/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/DataModel.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/KtorResponseConverter.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/DataConvertor.kt
  sample/src/main/java/com/sampleapp/functions/network/DemoNetworkFragment.kt
Labels: sample, network

data field cleanup
  pluto-plugins/plugins/network/core/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/DataModel.kt
  pluto-plugins/plugins/network/core/src/main/java/com/pluto/plugins/network/internal/interceptor/ui/components/OverviewStub.kt
  pluto-plugins/plugins/network/core/src/main/java/com/pluto/plugins/network/internal/interceptor/ui/list/ApiItemHolder.kt
  pluto-plugins/plugins/network/core/src/main/java/com/pluto/plugins/network/internal/share/ShareHelper.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/KtorRequestConverter.kt
  pluto-plugins/plugins/network/ktor-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/KtorResponseConverter.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/ContentProcessor.kt
  pluto-plugins/plugins/network/okhttp-network/lib/src/main/kotlin/com/pluto/plugins/network/internal/DataConvertor.kt
  sample/src/main/java/com/sampleapp/functions/network/DemoNetworkFragment.kt
  sample/src/main/java/com/sampleapp/functions/network/internal/NetworkViewModel.kt
Labels: sample, network

updated test case
  pluto-plugins/plugins/network/lib/src/test/java/com/pluto/plugins/network/internal/bandwidth/core/BandwidthLimitSocketFactoryTest.kt
Labels: network

updated test case
  pluto-plugins/plugins/network/lib/src/test/java/com/pluto/plugins/network/internal/bandwidth/core/BandwidthLimitSocketFactoryTest.kt
Labels: network

.github/labeler.yml:

# Add 'pluto-core' label to any changes within 'pluto' or 'plugin' module
core:
- pluto/**
- pluto-plugins/base/**
- pluto-plugins/bundle/**
- .github/**

# Add 'script' label to any changes within 'scripts' folder
script:
- script/**

# Add 'sample' label to any changes within 'sample' module
sample:
- sample/**

# labels for plugin changes
datastore:
- pluto-plugins/plugins/datastore/**

exceptions:
- pluto-plugins/plugins/exceptions/**

layout-inspector:
- pluto-plugins/plugins/layout-inspector/**

logger:
- pluto-plugins/plugins/logger/**

network:
- pluto-plugins/plugins/network/**

rooms-database:
- pluto-plugins/plugins/rooms-database/**

shared-preferences:
- pluto-plugins/plugins/shared-preferences/**
