Repository androidPluto/pluto, pull requests merged in 2023-09, with the labels that each got.

#271 fix(pluto): missing no-op methods added
  pluto/lib-no-op/src/main/java/com/pluto/Pluto.kt
Labels: core

#273 chore(pluto): kapt to ksp migration
  build.gradle
  dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
  pluto-plugins/plugins/exceptions/lib/build.gradle
  pluto-plugins/plugins/layout-inspector/lib/build.gradle
  pluto-plugins/plugins/logger/lib/build.gradle
  pluto-plugins/plugins/network/lib/build.gradle
  pluto-plugins/plugins/rooms-database/lib/build.gradle
  pluto-plugins/plugins/shared-preferences/lib/build.gradle
  sample/build.gradle
Labels: network, logger, exceptions, layout-inspector, sample, rooms-database, shared-preferences

#266 feat(pluto): version upgrade nudge added
  pluto/lib/build.gradle
  pluto/lib/src/main/java/com/pluto/core/network/DataModels.kt
  pluto/lib/src/main/java/com/pluto/core/network/Network.kt
  pluto/lib/src/main/java/com/pluto/core/network/NetworkCalls.kt
  pluto/lib/src/main/java/com/pluto/maven/DataModels.kt
  pluto/lib/src/main/java/com/pluto/maven/MavenApiService.kt
  pluto/lib/src/main/java/com/pluto/maven/MavenSession.kt
  pluto/lib/src/main/java/com/pluto/maven/MavenViewModel.kt
  pluto/lib/src/main/java/com/pluto/ui/selector/SelectorActivity.kt
  pluto/lib/src/main/res/layout/pluto___activity_plugin_selector.xml
  pluto/lib/src/main/res/values/strings.xml
Labels: core

#274 fix(network): code cleanup & publish config fixes
  pluto-plugins/base/lib/src/main/java/com/pluto/plugin/libinterface/FilesInterface.kt
  pluto-plugins/base/lib/src/main/java/com/pluto/plugin/libinterface/PlutoInterface.kt
  pluto-plugins/plugins/network/core/lib-no-op/src/main/java/com/pluto/plugins/network/DataModel.kt
  pluto-plugins/plugins/network/core/lib-no-op/src/main/java/com/pluto/plugins/network/NetworkRecorder.kt
  pluto-plugins/plugins/network/core/lib-no-op/src/main/java/com/pluto/plugins/network/PlutoNetwork.kt
  pluto-plugins/plugins/network/core/lib-no-op/src/main/java/com/pluto/plugins/network/intercept/NetworkData.kt
  pluto-plugins/plugins/network/core/lib-no-op/src/main/java/com/pluto/plugins/network/intercept/NetworkInterceptor.kt
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/PlutoNetwork.kt
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/PlutoNetworkPlugin.kt
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/intercept/NetworkData.kt
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/intercept/NetworkInterceptor.kt
  pluto-plugins/plugins/network/interceptor-ktor/lib-no-op/build.gradle
  pluto-plugins/plugins/network/interceptor-ktor/lib-no-op/src/main/java/com/pluto/plugins/network/ktor/PlutoKtorInterceptor.kt
  pluto-plugins/plugins/network/interceptor-ktor/lib/build.gradle
  pluto-plugins/plugins/network/interceptor-ktor/lib/src/main/kotlin/com/pluto/plugins/network/ktor/PlutoKtorHelper.kt
  pluto-plugins/plugins/network/interceptor-ktor/lib/src/main/kotlin/com/pluto/plugins/network/ktor/internal/KtorRequestConverter.kt
  pluto-plugins/plugins/network/interceptor-ktor/lib/src/main/kotlin/com/pluto/plugins/network/ktor/internal/KtorResponseConverter.kt
  pluto-plugins/plugins/network/interceptor-ktor/lib/src/main/kotlin/com/pluto/plugins/network/ktor/internal/RequestConverter.kt
  pluto-plugins/plugins/network/interceptor-ktor/lib/src/main/kotlin/com/pluto/plugins/network/ktor/internal/ResponseConverter.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib-no-op/build.gradle
  pluto-plugins/plugins/network/interceptor-okhttp/lib-no-op/src/main/java/com/pluto/plugins/network/okhttp/PlutoInterceptor.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/build.gradle
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/PlutoOkhttpInterceptor.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/internal/CacheDirectoryProvider.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/internal/DataConvertor.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/internal/OkHttpKtx.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/internal/ResponseBodyProcessor.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/okhttp/PlutoInterceptor.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/okhttp/PlutoOkhttpHelper.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/okhttp/internal/ContentProcessor.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/okhttp/internal/DataConvertor.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/okhttp/internal/OkHttpKtx.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/okhttp/internal/ResponseReportingSinkCallback.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/okhttp/internal/StreamKtx.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/okhttp/internal/utilities/DepletingSource.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/okhttp/internal/utilities/ReportingSink.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib/src/main/kotlin/com/pluto/plugins/network/okhttp/internal/utilities/TeeSource.kt
  sample/src/main/java/com/sampleapp/functions/network/internal/ktor/KtorNetwork.kt
  sample/src/main/java/com/sampleapp/functions/network/internal/okhttp/Network.kt
Labels: network, core, sample

#275 fix(network): missing no-op methods added
  pluto-plugins/plugins/network/interceptor-ktor/lib-no-op/src/main/java/com/pluto/plugins/network/ktor/PlutoKtorInterceptor.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib-no-op/build.gradle
  pluto-plugins/plugins/network/interceptor-okhttp/lib-no-op/src/main/java/com/pluto/plugins/network/okhttp/PlutoInterceptor.kt
  pluto-plugins/plugins/network/interceptor-okhttp/lib-no-op/src/main/java/com/pluto/plugins/network/okhttp/PlutoOkhttpHelper.kt
Labels: network

#276 chore(sample): build variant added & no op check added to ci action
  .github/workflows/ci.yml
  gradle.properties
  sample/build.gradle
  sample/src/debug/java/com/sampleapp/pluto/DataSourcePluginGroup.kt
  sample/src/debugMaven/java/com/sampleapp/pluto/DataSourcePluginGroup.kt
  sample/src/debugNoOp/java/com/sampleapp/pluto/DataSourcePluginGroup.kt
  sample/src/debugNoOpMaven/java/com/sampleapp/pluto/DataSourcePluginGroup.kt
  sample/src/main/java/com/sampleapp/SampleApp.kt
  sample/src/release/java/com/sampleapp/pluto/DataSourcePluginGroup.kt
Labels: core, sample

#277 fix(network): network details ui fixes
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/intercept/NetworkData.kt
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/internal/DataModel.kt
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/internal/interceptor/logic/ContentProcessor.kt
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/internal/interceptor/ui/DetailsFragment.kt
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/internal/interceptor/ui/components/OverviewStub.kt
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/internal/interceptor/ui/list/ApiItemHolder.kt
  pluto-plugins/plugins/network/core/lib/src/main/java/com/pluto/plugins/network/internal/share/ShareHelper.kt
  pluto-plugins/plugins/network/core/lib/src/main/res/drawable/pluto_network___ic_error_orange.xml
  pluto-plugins/plugins/network/core/lib/src/main/res/layout/pluto_network___fragment_details.xml
  pluto-plugins/plugins/network/core/lib/src/main/res/layout/pluto_network___stub_details_overview.xml
  pluto-plugins/plugins/network/core/lib/src/main/res/values/strings.xml
  sample/src/main/java/com/sampleapp/functions/network/internal/custom/CustomViewModel.kt
Labels: network, sample

#278 Update README.md
  README.md
  pluto-plugins/plugins/datastore/README.md
  pluto-plugins/plugins/exceptions/README.md
  pluto-plugins/plugins/layout-inspector/README.md
  pluto-plugins/plugins/logger/README.md
  pluto-plugins/plugins/network/README.md
  pluto-plugins/plugins/rooms-database/README.md
  pluto-plugins/plugins/shared-preferences/README.md
Labels: network, logger, exceptions, layout-inspector, datastore, rooms-database, shared-preferences

#281 fix(network): fix for null Content-Type header
  pluto-plugins/plugins/network/interceptor-ktor/lib/src/main/kotlin/com/pluto/plugins/network/ktor/internal/KtorResponseConverter.kt
Labels: network

#282 chore(pluto): POST_NOTIFICATION permission added
  pluto/lib/src/main/AndroidManifest.xml
Labels: core
